@model InTechStore.DAL.Entities.Producer
@{
    ViewBag.Title = "Видалення виробника";
}

<div class="ui container stackable segment">
    <div class="ui icon warning message">
        <i class=" massive remove  icon"></i>
        <div class="content">
            <div class="header">
                Видалення виробника
            </div>

            <p>Ви впевнені, що хочете видалити виробника "<b>@Html.DisplayFor(model => model.CompanyName)</b>"</p>
            <div class="ui content">
                <img src="@Model.Image" class="ui image medium" />
            </div>
        </div>
    </div>   
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="ui buttons">
            @Html.ActionLink("Назад", "Index", null, htmlAttributes: new { @class = "ui button" })
            <input type="submit" value="Delete" class="ui button negative" />
        </div>
    }
</div>
