@{
    ViewBag.Title = "Home Page";
}

<div class="ui container">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris congue lacinia nunc et mattis. Praesent porta metus eget dolor laoreet sollicitudin. Aliquam maximus augue at elit tristique placerat. Quisque risus leo, posuere sed finibus ac, luctus vel nulla. In porttitor eu lectus feugiat lobortis. Integer quis eros nibh. Aliquam eget semper leo. Phasellus imperdiet aliquet lacus maximus maximus. Sed tincidunt, ex et tempus faucibus, velit augue consectetur tellus, at posuere tellus ex tempus lacus. Ut vel dignissim neque, non pulvinar eros. Duis aliquet sapien nec purus tincidunt, non varius risus sagittis.

        Vestibulum elit erat, lobortis sed porta quis, vulputate ut leo. Sed euismod arcu eget dapibus consequat. Aliquam venenatis urna vitae mi porta volutpat. Phasellus sodales mi id ipsum vulputate lacinia. Proin ut nibh nisl. Praesent malesuada libero ex, in sollicitudin eros viverra in. Aliquam nec lacus aliquet, laoreet felis at, facilisis ligula. Phasellus sodales tincidunt egestas. Aliquam molestie, odio ac varius dignissim, orci ipsum porta libero, eu feugiat tortor purus eget purus. Maecenas eget quam vitae mi feugiat commodo ac vel dui.

        Mauris vulputate ut erat ac molestie. Donec tristique tristique volutpat. Sed sagittis elit quis orci placerat ullamcorper. Etiam dictum risus ac dolor efficitur, quis finibus erat scelerisque. Donec dictum risus eget viverra malesuada. Aenean sit amet venenatis quam. Donec imperdiet ante at posuere gravida. Vestibulum vel purus vehicula, volutpat nisi eu, egestas mauris. Nulla tristique lectus non neque viverra commodo. Ut egestas, eros quis imperdiet facilisis, massa nisi malesuada est, nec vehicula nisi metus eget nibh. Maecenas non libero id nisl finibus tempor vitae sit amet mauris. Sed nec ipsum eget risus auctor rhoncus quis ut eros. Cras consectetur vel velit a auctor.

        Integer tempus velit vitae risus elementum congue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc condimentum metus eu lacus congue, eu interdum sapien tempus. Phasellus a ex fermentum, tempus est id, pretium purus. Sed in eros eu libero ullamcorper luctus. Ut porta nunc magna, eget egestas urna lobortis vel. Suspendisse hendrerit, eros et aliquam interdum, elit magna luctus nunc, ac faucibus enim felis et urna. Nulla facilisis lacus in tristique laoreet.

        Proin efficitur sed risus ut gravida. Cras quis urna at nunc scelerisque consequat aliquet sit amet turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi pulvinar, neque in aliquet aliquam, diam ipsum cursus mauris, ac pulvinar erat mauris eu ex. Morbi tempus laoreet libero, in venenatis enim porta nec. Nullam vel turpis hendrerit, vestibulum sem sed, condimentum ligula. Vivamus placerat ultrices mi at blandit. Quisque bibendum, leo interdum feugiat varius, tellus elit congue tellus, molestie congue orci mi at quam. Aenean ullamcorper volutpat rutrum. Quisque dictum velit blandit massa condimentum luctus.
    </p>

</div>
   