@model  IEnumerable<InTechStore.WEB.ViewModels.ProductInfoViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="ui link cards five stackable container">
    @foreach (var product in Model)
    {
        @Html.Partial("_ProductItemPartial", product)
    }
</div>