@model InTechStore.WEB.ViewModels.PersonalInfoViewModel
@{
    ViewBag.Title = "Заповнення особистої інформації";
}

<h2>Особиста інформація</h2>

@using (Html.BeginForm("Set", "PersonalInfo", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.EditorForModel();
    @Html.ValidationSummary();
    <input type="submit" value="Підтвердити" />
}
<div>
    @Html.ActionLink("Назад", "Index", "Manage");
</div>