
@{
    ViewBag.Title = "NotSet";
}

<h2>NotSet</h2>

<div>
    <div>
        Інформацію не заповнено!
    </div>
    <div>
        <div>
            @Html.ActionLink("Заповнити", "Set")
        </div>
        <div>
            @Html.ActionLink("Назад", "Index", "Manage")
        </div>
    </div>
</div>
