@model InTechStore.DAL.Entities.Category
@{
    ViewBag.Title = "Видалення категорії";
}


<div class="ui container stackable segment">

    <div class="ui icon warning message">
        <i class=" massive remove  icon"></i>
        <div class="content">
            <div class="header">
                Видалення категорії товару
            </div>

            <p>Ви впевнені, що хочете видалити категорію "<b>@Html.DisplayFor(model => model.Name)</b>"</p>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="ui buttons">
            @Html.ActionLink("Назад", "Index", null, htmlAttributes: new { @class = "ui button" })
            <input type="submit" value="Delete" class="ui button negative" />
        </div>
    }
</div>
